link(rel='icon' type='image/png' sizes='32x32' href='assets/icons/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='assets/icons/favicon-16x16.png')
link(rel='icon' type='image/png' sizes='48x48' href='assets/icons/favicon-48x48.png')
link(rel='icon' type='image/png' sizes='192x192' href='assets/icons/favicon-192x192.png')
link(rel='apple-touch-icon' type='image/png' sizes='167x167' href='assets/icons/favicon-167x167.png')
link(rel='apple-touch-icon' type='image/png' sizes='180x180' href='assets/icons/favicon-180x180.png')

