doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Aerounion
		include _icons.pug
		link(href=require('style.scss') rel='stylesheet')
	body
		.container
		h1 Aerounion
		include _test-mixins.pug
		+subTitle('Subtitle')
		script(src=require('./main.js'))